<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/tinku/IdeaProjects/OpenCart_V131/src/test/java/testCases">
        <parameter name="os" value="windows"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.TC001AccountRegistrationTest"/>
        </classes>
    </test>
</suite>
